
<div *ngIf="searchResult === false">
<div *ngFor="let question of questions">
<app-feed-element
  [upvoteCount]="question.message.attribute.like.qty"
  [downvoteCount]="question.message.attribute.dislike.qty"
  [replyCount]="question.message.attribute.comment.qty"
  [reportPost]="question.message.attribute.report.qty"
  [author]="question.message.sender_name"
  [question]="question.message.message.msg"
  [lastActive]="question.message['timezone']"
  [feeddata] = "question"
  [tag]="question.message.message.tagName"
  [postId]="question.unique_id"
  [undoStatus]="question['undo']"
  (enterIntoPostWithPostId)="onPostEnterListener($event)"
  [bgColor]="'#fff'"
></app-feed-element>
<br>
</div>
</div>

<div *ngIf="searchResult === true">
<div *ngFor="let question of searchedQuestions">
  <app-feed-element
    [upvoteCount]="question.message.attribute.like.qty"
    [downvoteCount]="question.message.attribute.dislike.qty"
    [replyCount]="question.message.attribute.comment.qty"
    [reportPost]="question.message.attribute.report.qty"
    [author]="question.message.sender_name"
    [question]="question.message.message.msg"
    [lastActive]="question.message['timezone']"
    [feeddata] = "question"
    [tag]="question.message.message.tagName"
    [postId]="question.unique_id"
    [undoStatus]="question['undo']"
    (enterIntoPostWithPostId)="onPostEnterListener($event)"
  ></app-feed-element>
  <br>
</div>
</div>

<button *ngIf="questions?.length > 0" mat-button fxHide.lt-sm class="main-button" (click)="loadMore()"  mat-raised-button>Load More</button>
