<!--<div>-->
<!--  <p >{{comment}} ~ <b>{{author}}</b></p>-->
<!--</div>-->
<!--<mat-card>-->
<div class="p-1">
  <mat-card-header style="margin-left: -16px; width: 100%">
    <mat-card-title style="margin-top: -5px;">{{author}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="m-b-0">
      {{comment}}
      <span style="font-size: 10px; float: right; margin-top: 2px;">{{dateTimePosted}}</span>
    </p>
  </mat-card-content>
</div>
<!--  <mat-divider></mat-divider>-->
<!--</mat-card>-->
