<div align="center">
  <mat-card id="sign-in-popup-card">
      <div  class="row" id="maindiv">
        <div class="col-md-4 borders ">
          <div class="text-center logo">
           <img mat-card-image src="assets/logo/classtor_logo.png" width="100%" height="100%" alt="classtor_logo">
          </div>
        </div>
        <div class="col-md-8 bg-white " [ngStyle]="{'padding': showLogo === true ? '10px 30px' : '30px 30px'}">
          <div id="sign-in-title" class="mat-display-1 pl-0" style="color: rgb(0,91,150); text-shadow:1px 0px 0px black">
            <img class="text-center" *ngIf="showLogo === true" src="assets/logo/exceedlogo.jpg" mat-card-image wclass="img-fluid" alt="classtor_logo" style="width: 150px; margin: 10px auto">
            <div class="col-12 pr-0 pl-0"><img src="assets/logo/classtor_logo2.png" class="pr-1 pl-0" id="img2" width="50px" height="50px">  Organization Details</div>

          </div>
          <form class="example-form" [formGroup]="orgRegisterForm">
            <mat-form-field class="match-parent-width">
              <input
                formControlName="orgname"
                matInput
                placeholder="Organization Name"
                required
                name="email"
              >
              <!--        <mat-error *ngIf="email.invalid && email.errors.required">-->
              <!--          Enter a valid email address.-->
              <!--        </mat-error>-->
            </mat-form-field>
            <br>
            <mat-form-field class="match-parent-width">
              <input
                formControlName="orgcode"
                matInput
                placeholder="Organization Code"
                value=""
                type="text"
                required
                name="orgcode"
              >
              <!--        <mat-error *ngIf="email.invalid && email.errors.required">-->
              <!--          Enter a valid password.-->
              <!--        </mat-error>-->
            </mat-form-field>
            <div class="d-flex">
              <button  (click)="onSignIn()" mat-raised-button class="btn btn-block">Submit</button>
              <button  (click)="skip()" mat-raised-button class="btn btn-block" style="margin-left: 10%">Skip</button>
            </div>
          </form>

        </div>
      </div>
  </mat-card>
</div>


<app-failure-modal [errorModalMessage]="errorModalMessage"
                   [errorModalHeading]="errorModalHeading"
                   [errorModalBtnText]="errorModalBtnText"
                   [errorModalImgStatus]="errorModalImgStatus"
                   (errorModalClose)="closeErrorModal()"
                   *ngIf="errorModalStatus"></app-failure-modal>

