<div class="backdrop" (click)="onCancelClick()">
  <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content kt-bg-color-primary modal-filled">
        <div class="modal-body p-4">
          <div class="text-center">
            <i class="far fa-check-circle" style="font-size: 4rem" (click)="onCancelClick()"
               *ngIf="successModalImgStatus !== false"></i>
            <h4 class="mt-2" >{{successModalHeading}}</h4>
            <p class="mt-3">{{successModalMessage}}</p>
            <button type="button" class="btn btn-light my-2" *ngIf="successModalBtnText !== ''" (click)="onSuccessModalBtnClick(successModalBtnText)">{{successModalBtnText}}</button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
