.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.6);
  z-index: 50;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  opacity: 1;
  color: #FFFFFF;
}

/*--------place the bootstrap modal at the center of the screen--------*/
.modal-dialog {
  height: 100vh !important;
  display: flex;
}

.modal-content {
  margin: auto !important;
  height: fit-content !important;
  background-color: #1da1f2!important;
}
/*----------------------------------------------------------------*/
