<!--main div-->
<div id="mainDiv">
    <!--details box-->
    <div id="detailsBox">
        <div>
            <img [src]="intialPic" alt="avatar">
            <span ><input (change)="changePic($event.target.files)" type="file" #Image accept="image/*" style="display: none;"><button class="btn btn-light btn-sm" id="changePhoto" (click)="Image.click()">Change Photo</button></span>
        </div>        
        <div *ngFor="let item of userDetails">
            <div class="userDetail" matTooltip="{{item.UserName}}">
                {{item.UserName}}
            </div>
        
            <div class="userDetail">
                {{item.EmailID}}
            </div>
            
        </div>
    </div>
    <!--details box end-->
    <!--Classrooms-->
    <div id="classRoom">
        <br>
        <h3 style="opacity:.5">My Classrooms</h3>
        <br>
        <div>
            
        <table  *ngFor="let item of classList">
            <tr>
                <td></td>
                <td class="table">
                    <i class="fa fa-book"></i> {{item.group_name}}
                    <tr style="font-size: 12px;">&nbsp;&nbsp;&nbsp;&nbsp; {{item.date_time_created |date}}</tr>
                </td>
            </tr>
            <br>
        </table >
        </div>
    </div >
    <hr>
    <!--classroom end-->
    <!--settings-->
    <div id="settings">
        <br>
        <h3 style="opacity:.5">Settings</h3>
        <br>
        <li id="changePwd" (click)="toChangePassword()"><i class="fa fa-lock"></i> Change Password</li>
    </div>
    <!--settings end-->
</div>
<!--main div end-->
