#detailsBox{
    padding: 20px;
    color: white;
    background-color:#03396C;
}
img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  #classRoom{
      padding:20px;
      list-style:none;
         
  }
  #userDetail{
    margin-top:5px;
  }
  .logout{
      float: right;
      cursor: pointer;
  }
  #mainDiv{
  /*box-shadow: 0px 0px 10px;*/
  }
  .table:hover{
      cursor: pointer;
  }
  #changePhoto{
      float: right;
      cursor: pointer;
  }
  #changePwd{
      cursor: pointer;
  }
  #settings{
      padding:20px;
      list-style:none;
      
      
  }
