<app-feed-element
  [postId]="displayableQuestion.unique_id"
  [upvoteCount]="displayableQuestion.message.attribute.like.qty"
  [lastActive]="displayableQuestion.message['timezone']"
  [question]="displayableQuestion.message.message.msg"
  [downvoteCount]="displayableQuestion.message.attribute.dislike.qty"
  [replyCount]="displayableQuestion.message.attribute.comment.qty"
  [reportPost]="displayableQuestion.message.attribute.report.qty"
  [author]="displayableQuestion.message.sender_name"
  [feeddata] = "displayableQuestion"
  [showReplyButton]="false"
  [bgColor]="'#b3cde0'"

></app-feed-element>

<mat-card id="post-an-answer" style="max-width: 600px; margin-top: 10px" >
  <div class="cursor-pointer" (click)="toggleShowAnswerBar()">
    <span>Post an answer</span>
    <span style="float: right; cursor: pointer;" ><mat-icon mat-list-icon>question_answer</mat-icon></span>
  </div>
  <div style="margin-top: 20px" *ngIf="showAnswerBar">
    <div>
      <div>
        <mat-form-field >
          <mat-label>Show my name as</mat-label>
          <mat-select (selectionChange)="onSelectionChangedAnonymityLevel($event)" [(ngModel)]="defaultAnonymityScope" class="awesome-select default-padding">
            <mat-option *ngFor="let option of anonymityScope" [value]="option.id">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <app-ngx-editor
      [placeholder]="'Answer To Strengthen Your Learning ...'"
      [spellcheck]="true"
      [minHeight]="'200px'"
      [config]="editorConfig"
      [(ngModel)]="htmlContent"
    ></app-ngx-editor>

    <div class="inline-elements">
      <button
        (click)="postAnswer(displayableQuestion)"
        class="main-button inline-element-margin-left-2"
        mat-flat-button
        style="margin-top: 15px">
        Post as {{getAnonymityScopeNameFromChosenAnonymityScopeId()}}
      </button>
    </div>
  </div>
</mat-card>

<app-teacher-feed></app-teacher-feed>
<app-answer-feed></app-answer-feed>
