.inline-elements{
  display: flex;
}

.inline-element-margin-left{
  margin-left: 50px;
}

.inline-element-margin-left-2{
  margin-left: 20px;
}

.mat-card-actions {
  margin-bottom: 6px;
}
.mat-card-actions .mat-button {
  margin: 0px;
}

.mat-button {
  padding: 0 10px;
}
