.match-parent-width-modified {
  display: flex;
  flex-direction: column;
}

.match-parent-width-modified-2 {
  display: flex;
  flex-direction: column;

}

.flex-item-grow{
  flex-grow: 1;
}

.split-3-divs-equally {
  margin-top: -25px;
  display: flex;
}

.three-elements{
  margin-top: -35px;
  display: flex;
}

.awesome-select{
  border: 1px solid rgba(60, 64, 67, 0.22);
  border-radius: 4px;
  text-underline: none;
}

.left-margin-select{
  /*margin-left: 30px;*/
}

::ng-deep .remove-underline .mat-form-field-underline {
  display: none;
}

.default-padding {
  padding: 8px;
}

.AAQ-margin {
  margin-top: 20px;
}

.mat-form-field-infix{
  border-top: none;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 1em 0;
}
@media only screen and (min-width: 992px) {
  mat-form-field {
    display: flex;
    flex-direction: column;
    width: 600px !important;
  }
  .mat-form-field-infix {
    border-top: .84375em solid transparent!important;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 1em 0!important;
  }
}
@media only screen and (min-width: 630px) {
  mat-form-field {
    display: flex;
    flex-direction: column;
    width: 600px !important;
  }}