<div align="center">
  <mat-card id="sign-in-popup-card">
      <div  class="row" id="maindiv">
        <div class="col-md-4 borders ">
          <div class="text-center logo">
           <img mat-card-image src="assets/logo/classtor_logo.png" width="100%" height="100%" alt="classtor_logo">
          </div>
        </div>
        <div class="col-md-8 bg-white " [ngStyle]="{'padding': showLogo === true ? '10px 30px' : '30px 30px'}">
          <div id="sign-in-title" class="mat-display-1 pl-0" style="color: rgb(0,91,150);text-shadow: 1px 0px 0px black">
            <img class="text-center" *ngIf="showLogo === true" src="assets/logo/exceedlogo.jpg" mat-card-image wclass="img-fluid" alt="classtor_logo" style="width: 150px; margin: 10px auto">
            <div class="col-12 pr-0 pl-0"><img src="assets/logo/classtor_logo2.png" class="pr-1 pl-0" id="img2" width="50px" height="50px"> Confirm Passcode</div>
           </div>
          <form class="example-form" [formGroup]="confirmPasscodeForm">
            <mat-form-field class="match-parent-width">
              <input
                formControlName="email"
                [(ngModel)]="email"
                matInput
                placeholder="Email"
                required

                name="email"
              >
      <!--        <mat-error *ngIf="email.invalid && email.errors.required">-->
      <!--          Enter a valid email address.-->
      <!--        </mat-error>-->
            </mat-form-field>
            <br>
            <mat-form-field class="match-parent-width">
              <input
                ngModel
                formControlName="passcode"
                matInput
                placeholder="Passcode"
                type="text"
                required
                name="password"
              >
      <!--        <mat-error *ngIf="passcode.invalid && passcode.errors.required">-->
      <!--          Enter a valid passcode.-->
      <!--        </mat-error>-->
            </mat-form-field>
            <div class="text-center">
              <button  (click)="onConfirmPasscode()" mat-raised-button class="btn btn-block">Confirm Passcode</button>
            </div>

          </form>
           <span class="text-center"><span class=" cursor-pointer register text-primary " (click)="onResendPasscode()"> Reset Passcode?</span></span>
        </div>
      </div>
  </mat-card>
</div>


<app-failure-modal [errorModalMessage]="errorModalMessage"
                   [errorModalHeading]="errorModalHeading"
                   [errorModalBtnText]="errorModalBtnText"
                   [errorModalImgStatus]="errorModalImgStatus"
                   (errorModalClose)="closeErrorModal()"
                   *ngIf="errorModalStatus"></app-failure-modal>

<!-- spinner start -->
<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-clip-rotate-pulse">
</ngx-spinner>
<!-- spinner end -->
