#maindiv{
  position: absolute;
  width: 700px;
  height: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0 0px 10px rgba(0,0,0,.4);
  border-radius: 20px;
}
#img2{
  display: none;
}
.col-md-4{
  background-color: #005b96;
  padding: 20px;
}
.col-md-8{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px;
}
.borders{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.mat-display-1 {
  margin: 0px!important;
}
#sign-in-popup-card{
  background-color: #fff;
  /*background-color: #373b82;*/
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
  /*background-color: rgb(23,162,184);*/
}
#sign-in-title{
  text-align: center;
}
#img-2{
  display:none;
}
.float-right {
  float: right;
}

.btn{
  transition: all .5s ease;
  border-radius: 30px;
  color:rgb(0,91,150);
  font-weight: 600;
  background-color: #fff;
  border: 1px solid rgb(0,91,150);
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 70%;
}
.btn:hover, .btn:focus{
  background-color:rgb(0,91,150);
  color:#fff;
}
.register:hover{
  text-decoration: underline;
}
.logo{
  position: relative;
  top: 40%;
}
.col-5{
  background-color: rgb(0,91,150);
}
@media only screen and (max-width: 768px) {
  #sign-in-title{
    font-size:2em;
  }
  .logo{
    width: 100%;
    height: 10%;
  }
  #maindiv{

    position: absolute;
    width: 600px;
    height: auto;
    transform: translate(-30%, -30%);
    top: 30%;
    left: 35%;
  }

.col-md-8{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

}

@media only screen and (max-width: 576px) {
  #sign-in-title {
    font-size: 30px;
  }

  .logo {
    width: 100%;
    height: 30%;
  }

  #maindiv {
    position: absolute;
    width: 93%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 54%;
  }

  #img2{
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .col-md-4{
    display: none;
  }
  .col-md-8{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width:100%;

  }

}
@media (max-width:767px) and (min-width:577px){
  .col-md-4{
    display: none;
  }
  #img2{
    display:inline-block;
  }

  #maindiv {
    position: absolute;
    width: 400px;
    height: auto;
    transform: translate(-30%, -30%);
    top: 30%;
    left: 40%;

  }

}
