

<app-sign-in (successfullySignedIn)="onSuccessfullySignedIn()" (registrationScreen)="registrationScreen()" (forgotPassScreen)="forgotPassScreen()" (registerOrg)="organizationregisterScreen()"></app-sign-in>

<mat-sidenav-container fxFlexFill *ngIf="isSignedIn" class="example-container sidenav-container" style="min-height: 100vh">


  <mat-sidenav mode="side" opened class="side-bar-responsive-status" #drawer fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <app-sidebar (ShowDetails)='showDetail()'
      (WantToCreateANewClass)="createNewClass()"
      (EnterClass)="enterClass($event)"
       (closeNav)="closeSideNav()"
    >
    </app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="content" style="background-color: #ffffff; height: 100vh">
    <mat-toolbar style="background-color: #005b96" class="toolbar-style">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon
        id="back-button"
        matTooltip="Goto Home Page"
        (click)="OnPostExitListener()"
        [style.display]="currentView != 'POSTS' ? 'block' : 'none'"
        class="example-icon"
        aria-hidden="false"
        aria-label="Example user verified icon">
        arrow_back
      </mat-icon>
      <span  style="margin-left: 10px;">{{organizationName}}</span>

      <span fxHide fxShow.lt-sm style="position: absolute; right: 50px; margin-right: 30px; cursor: pointer;" (click)="refreshScreen()">
        <i class="fas fa-redo-alt"></i>
<!--        <mat-spinner></mat-spinner>-->
      </span>
      <mat-icon
        [matMenuTriggerFor]="menu"
        id="intructor-settings"
        matTooltip="Instructor Settings"
        class="example-icon"
        aria-hidden="false"
        style="position: absolute; right: 0; margin-right: 30px; cursor: pointer;">
        group
      </mat-icon>
    </mat-toolbar>

    <div id="paded-environment">
      <div class="ptr--ptr"><div class="ptr--box">
        <div class="ptr--content">
          <div class="ptr--icon"></div>
          <div class="ptr--text"></div>
        </div>
      </div></div>
      <div id="posts-view" *ngIf="currentView == 'POSTS'" >
        <app-search-and-filters (askAQuestion)="onWantToQuestion()"></app-search-and-filters>

        <app-feed
          (enterIntoPostWithPostId)="onPostEnterListener($event)"
          [classKey]="classKey"
          (toFeedList)="onWantToFeed()"
        ></app-feed>
      </div>

      <div>
        <app-profile-screen *ngIf="currentView=='SHOWDETAILS'" (changePassScreen)='changePassScreen()'></app-profile-screen>
      </div>
      <div>
        <app-change-password   *ngIf="currentView == 'CHANGEPASSWORD'" (loginScreen)="toLoginScreen()"></app-change-password>
      </div>
      <div class="p-b-50" id="single-post-view" *ngIf="currentView == 'SINGLE_POST'">
        <app-single-question-with-answers [postId]="lastViewedPostId.toString()"></app-single-question-with-answers>
      </div>
      <div id="ask-a-question-view" *ngIf="currentView == 'ASK_A_QUESTION'">
        <app-post-question (toFeedList)="onWantToFeed()"></app-post-question>
      </div>
      <div id="create-new-class-view" *ngIf="currentView == 'CREATE_A_CLASS'" >
        <app-create-classroom (proceedToAddStudentsToNewClassroom)="gotoScreenAddStudentsToClassroom()" (ToPostsScreen)="onWantToFeed()"></app-create-classroom>
      </div>
      <div id="manage-classroom-students-view" *ngIf="currentView == 'MANAGE_CLASSROOM_STUDENTS'">
        <app-manage-classroom-students (gotoHomePage)="onWantToFeed()"></app-manage-classroom-students>
      </div>
      <div id="manage-classroom-instructors-view" *ngIf="currentView == 'MANAGE_CLASSROOM_INSTRUCTORS'">
        <app-manage-classroom-instructors (gotoHomePage)="onWantToFeed()"></app-manage-classroom-instructors>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

  <app-registration  *ngIf="currentView == 'REGISTRATION'" (loginScreen)="toLoginScreen()" (onSuccessfulRegistration)="onSuccessfulRegistration()"></app-registration>
  <app-sign-in  *ngIf="currentView == 'LOGIN'" (successfullySignedIn)="onSuccessfullySignedIn()" (registrationScreen)="registrationScreen()" (forgotPassScreen)="forgotPassScreen()" (registerOrg)="organizationregisterScreen()"></app-sign-in>
  <app-confirm-passcode *ngIf="currentView == 'CONFIRMPASSCODE'" (loginScreen)="toLoginScreen()"></app-confirm-passcode>
  <app-forgot-password *ngIf="currentView == 'FORGOTPASS'" (loginScreen)="toLoginScreen()"></app-forgot-password>
  <app-organization-register *ngIf="currentView == 'ORGNIZATION-REGISTER'" (successfullySignedIn)="onSuccessfullySignedIn()" (skipToFeedsPage)="onSuccessfullySignedIn()"></app-organization-register>
  <app-verify-passcode *ngIf="currentView == 'VERIFY-PASSCODE'" (toSignInScreen)="toLoginScreen()"></app-verify-passcode>


<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="userStatus !== '0'" (click)="gotoManageStudentsOfCurrentClassroom()">Manage Classroom</button>
  <button mat-menu-item *ngIf="userStatus === '2'" (click)="gotoManageInstructorsOfCurrentChosenClassroom()">Manage Instructor</button>
<!--  <button mat-menu-item *ngIf="userStatus !== '1'" (click)="gotoManageInstructorsOfCurrentChosenClassroom()">Manage Instructor</button>-->
  <button mat-menu-item (click)="logOut()">Logout</button>
</mat-menu>

<!--&lt;!&ndash; spinner start &ndash;&gt;-->
<!--<ngx-spinner-->
<!--  bdColor = "rgba(51, 51, 51, 0.8)"-->
<!--  size = "medium"-->
<!--  color = "#fff"-->
<!--  type = "ball-clip-rotate-pulse">-->
<!--</ngx-spinner>-->
<!--&lt;!&ndash; spinner end &ndash;&gt;-->

<div class="auth-background-limiter" *ngIf="showSpinner === true">
<div >
  <div class="loader">Loading...</div>
<!--  <img src="assets/icon/no_data_found.png" style="width: 100%; height: 300px">-->
</div>
</div>
