<div class="backdrop" (click)="onCancelClick()">
  <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content kt-bg-color-error modal-filled">
        <div class="modal-body p-4">
          <div class="text-center">
            <i class="far fa-times-circle" style="font-size: 4rem" (click)="onCancelClick()"
               *ngIf="errorModalImgStatus !== false"></i>
            <h4 class="mt-2">{{errorModalHeading}}</h4>
            <p class="mt-3">{{errorModalMessage}}</p>
            <button type="button" class="btn btn-light my-2" *ngIf="errorModalBtnText !== ''">{{errorModalBtnText}}</button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
