<div>

  <h1 class="mat-h1" style="margin-top: -5px">Create a new classroom</h1>

  <form>
    <div>
    <mat-form-field>
      <mat-label>Class Name</mat-label>
      <input #className name="className" matInput placeholder="Class Name" required>
    </mat-form-field>
      <p class="cls-font-color-error mb-0 fs-12" *ngIf="errorMessageStatus === true && className.value === ''">Enter ClassName</p>
    </div>

    <div>
    <mat-form-field>
      <input #classId name="classId" matInput placeholder="Class ID"  required>
    </mat-form-field>
      <p class="cls-font-color-error fs-12"  *ngIf="errorMessageStatus === true  && classId.value === ''">Enter ClassId</p>
    </div>
    <div>
    <mat-form-field style="width: 400px;">
      <textarea #classDescription name="classDescription" matInput placeholder="Class Description"  required></textarea>
    </mat-form-field>
      <p class="cls-font-color-error fs-12" *ngIf="errorMessageStatus === true  && classDescription.value === ''">Enter Class Description</p>
    </div>
  </form>

  <button
    (click)="createNewClass(className.value, classId.value, classDescription.value)"
    class="main-button"
    mat-flat-button
    style="margin-top: 15px">
    Create Class
  </button>

</div>
