<div align="center">
  <mat-card id="sign-in-popup-card">

      <div  class="row" id="maindiv">
        <div class="col-md-4 borders ">
          <div class="text-center logo">
           <img src="assets/logo/classtor_logo.png" class="img-fluid" mat-card-image width="100%" height="100%" alt="classtor_logo">
          </div>
        </div>
        <div class="col-md-8 bg-white " [ngStyle]="{'padding': showLogo === true ? '10px 30px' : '30px 30px'}">
          <div id="sign-in-title" class="mat-display-1 pl-0" style="color: rgb(0,91,150);text-shadow: 1px 0px 0px black;">
            <img class="text-center" *ngIf="showLogo === true" src="assets/logo/exceedlogo.jpg" mat-card-image wclass="img-fluid" alt="classtor_logo" style="width: 150px; margin: 10px auto">
            <div class="col-12 pr-0 pl-0"><img src="assets/logo/classtor_logo2.png" class="pr-1 pl-0" id="img2" width="50px" height="50px">Forgot Password</div>

          </div>
          <form class="example-form" [formGroup]="forgotPasswordForm">
            <div *ngIf="resetPasswordStatus === false">
            <mat-form-field class="match-parent-width" >
              <input
                formControlName="email"
                matInput
                placeholder="Email"
                value=""
                required

                name="emailField"
              >
      <!--        <mat-error *ngIf="email.invalid && email.errors.required">-->
      <!--          Enter a valid email address.-->
      <!--        </mat-error>-->


            </mat-form-field>
            <span (click)="toLoginScreen()" class=" cursor-pointer float-right register text-primary" > Login</span>
            <br>

            <div class="text-center">
              <button  (click)="resetPassword()" mat-raised-button class="btn btn-block">Submit</button>
            </div>
            <br><br>
            </div>
          </form>

          <form class="example-form" [formGroup]="forgotPasswordForm2">
            <div *ngIf="resetPasswordStatus === true">
            <mat-form-field class="match-parent-width"  >
              <input
                formControlName="passcode"
                matInput
                placeholder="Passcode"
                value=""
                type="text"
                name="passwordField"
              >
      <!--        <mat-error *ngIf="passcode.invalid && passcode.errors.required">-->
      <!--          Enter a valid passcode.-->
      <!--        </mat-error>-->
            </mat-form-field>
            <br>
            <mat-form-field class="match-parent-width">
              <input
                formControlName="password"
                matInput
                placeholder="Password"
                value=""
                type="password"
                name="passwordField"
              >
      <!--        <mat-error *ngIf="password.invalid && password.errors.required">-->
      <!--          Enter a valid password.-->
      <!--        </mat-error>-->
            </mat-form-field>
            <br>
            <mat-form-field class="match-parent-width" >
              <input
                formControlName="confirmpassword"
                matInput
                placeholder="Confirm Password"
                value=""
                type="password"
                name="passwordField"
              >
      <!--        <mat-error *ngIf="password.invalid && password.errors.required">-->
      <!--          Enter a valid password.-->
      <!--        </mat-error>-->
            </mat-form-field>
            </div>

            <div class="text-center">
              <button *ngIf="resetPasswordStatus === true" (click)="onforgotPassword()" mat-raised-button class="btn btn-block">Submit</button>
            </div>
          </form>


          </div>
      </div>
  </mat-card>
</div>
<app-failure-modal [errorModalMessage]="errorModalMessage"
                   [errorModalHeading]="errorModalHeading"
                   [errorModalBtnText]="errorModalBtnText"
                   [errorModalImgStatus]="errorModalImgStatus"
                   (errorModalClose)="closeErrorModal()"
                   *ngIf="errorModalStatus"></app-failure-modal>


<!-- spinner start -->
<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-clip-rotate-pulse">
</ngx-spinner>
<!-- spinner end -->
