<mat-card  class="example-card cursor-pointer" [style.background]="bgColor">
  <mat-card-header (click)="onPostEnter()">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="m-t-5 fs-18">{{author}}</mat-card-title>
    <mat-card-subtitle>{{tag}}</mat-card-subtitle>
    <span class="m-t-5" matTooltip="Hide this post" style="position: absolute;right: 20px;" *ngIf="userStatus !== '0'"><mat-chip-list><mat-chip (click)="hidePost(feeddata)"  style="cursor: pointer"><mat-icon mat-list-icon>report_problem</mat-icon></mat-chip></mat-chip-list></span>
    <span class="m-t-5" matTooltip="Undo this post" style="position: absolute;right: 20px;" *ngIf="undoStatus === true"><mat-chip-list><mat-chip (click)="undoPost(feeddata)"  style="cursor: pointer">Undo</mat-chip></mat-chip-list></span>
  </mat-card-header>
  <mat-card-content (click)="onPostEnter()">
    <div [innerHTML] = "question" style="margin-top: 10px">
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button  mat-icon-button fxHide fxShow.lt-sm (click)="toggleUpvote(feeddata)">{{upvoteCount}}
      <i class="far fa-thumbs-up fs-16 p-l-5"></i>
    </button>
    <button mat-button fxHide.lt-sm (click)="toggleUpvote(feeddata)">{{upvoteCount}} Upvotes
    </button>

    <button mat-icon-button fxHide fxShow.lt-sm style="margin-left: 20px" (click)="toggleDownvote(feeddata)">{{downvoteCount}}
      <i class="far fa-thumbs-down fs-16 p-l-5"></i>
    </button>
    <button mat-button fxHide.lt-sm (click)="toggleDownvote(feeddata)">{{downvoteCount}} Downvotes </button>

    <button  *ngIf="showReplyButton" mat-icon-button fxHide fxShow.lt-sm  style="margin-left: 20px" (click)="onPostEnter()">{{replyCount}}
      <i class="far fa-comment-alt fs-16 p-l-5"></i>
    </button>
    <button *ngIf="showReplyButton" mat-button fxHide.lt-sm (click)="onPostEnter()">{{replyCount}} Replies</button>
    <span style="font-size: 10px; float: right; margin-top: 13px;">{{lastActive}}</span>
    <span class="fs-12 m-t-11" (click)="reportToggle(feeddata)" [className]="reported ? 'post-report-button report-button' : 'pre-report-button report-button'">
      {{reportPost}} Report Post
    </span>
  </mat-card-actions>
</mat-card>

