<div id="coloured-box" style="background-color: #005b96; min-width: 250px;">
  <mat-toolbar>
  <div id="profile-picture">
    <img (click)="showDetails()" class="cursor-pointer"
      src="assets/icon/profile.jpeg"
      alt="Avatar"
      mat-card-avatar>
  </div>


  <div class="p-l-10" id="text-1">
    {{userName}}
  </div>
  </mat-toolbar>

<!--  <div id="text-2">-->
<!--    go-muna@gwh.com-->
<!--  </div>-->
</div>
<br>
<div id="classes">
  <mat-list style="max-height: 400px; overflow-y: scroll">
    <h3 mat-subheader>My Classrooms</h3>
    <mat-list-item *ngFor="let a_class of classesList; let i = index" matRipple (click)="emitEnterClass(i, a_class.group_key, a_class.user_type_id)"
    [ngStyle]="{'background':emittedClass === i ? 'rgba(185, 184, 194, 0.48)' : ''}">
      <mat-icon mat-list-icon>class</mat-icon>
      <h4 mat-line>{{a_class.group_name}}
<!--        <span class="m-l-20" style="color:#e40000;">{{a_class['readcount']}}</span>-->
      </h4>
      <p mat-line> {{a_class.date_time_created}} </p>
<!--            <p mat-line> {{}} </p>-->
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <mat-list *ngIf="userStatus!== '0'">
    <h3 mat-subheader>Settings</h3>
    <mat-list-item matRipple (click)="emitWantToCreateANewClass()">
      <mat-icon mat-list-icon>school</mat-icon>
      <h4 mat-line >Create a Class</h4>
    </mat-list-item>
  </mat-list>
</div>


