<div class="p-b-50">

  <h1 class="mat-h1" style="margin-top: -5px">Post a question</h1>

  <div class="inline-elements">
    <div>
      <mat-form-field >
        <mat-label>Show my name as</mat-label>
        <mat-select (selectionChange)="onSelectionChangedAnonymityLevel($event)" [(ngModel)]="defaultAnonymityScope" class="awesome-select default-padding">
          <mat-option *ngFor="let option of anonymityScope" [value]="option.id">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="inline-element-margin-left">
      <mat-form-field >
        <mat-label>Class To Post</mat-label>
        <mat-select (ngModelChange)="getTag($event)" (selectionChange)="onSelectionChangedGroup($event)" [(ngModel)]="defaultGroup"  class="awesome-select default-padding">
          <mat-option  *ngFor="let option of classes" [value]="option.group_key">
            {{option.group_name}}
            
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p class="cls-font-color-error mb-0 fs-12" *ngIf="errorMessageStatus === true && defaultGroup === ''">Select Class</p>
    </div>
    <div class="inline-element-margin-left">
      <mat-form-field >
        <mat-label>Question Tag</mat-label>
        <mat-select  (selectionChange)="getTagNameFromChosenTagId()" [(ngModel)]="defaultTagName" class="awesome-select default-padding">
          <mat-option *ngFor="let tag of fetchTagName" [value]="tag.tag_id">
            {{tag.tag_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p class="cls-font-color-error mb-0 fs-12" *ngIf="errorMessageStatus === true && selectedTagId === undefined">Select Tag</p>
    </div>
    
<!--Add Tag-->
<div class="inline-element-margin-left " *ngIf="userStatus !== '0'">
  <p class="cursor-pointer mt-4" *ngIf="showAddTag" (click)="displayTag()">Add Tag <i class="fa fa-plus-circle "></i></p>
  <form #addTagName="ngForm" *ngIf="!showAddTag">
    <mat-form-field>
      <input ngModel #tagName="ngModel" matInput placeholder="Add Tag" type="text" required name="tagName">
      <mat-error *ngIf="tagName.invalid && tagName.errors.required">
        Enter Tag Name
      </mat-error>
    </mat-form-field>
    <button mat-button type="button" class="btn btn-primary text-white ml-1" (click)='submitTag(addTagName.value.tagName)' [disabled]="!addTagName.valid">
      Add
    </button>
  </form>
</div>
<!--Add Tag End-->
  </div>

  <app-ngx-editor
    class="ngx-editor"
    [placeholder]="'Ask...'"
    [spellcheck]="true"
    [minHeight]="'200px'"
    [config]="editorConfig"
    [(ngModel)]="htmlContent"
  ></app-ngx-editor>
  <p class="cls-font-color-error" *ngIf="errorMessageStatus === true">Message should not be empty</p>

  <div class="inline-elements">
<!--    <button-->
<!--      (click)="saveDraft()"-->
<!--      mat-flat-button-->
<!--      color="accent"-->
<!--      style="margin-top: 15px">-->
<!--      Save Question To Draft-->
<!--    </button>-->
    <button
      (click)="postQuestion()"
      class="main-button inline-element-margin-left-2"
      mat-flat-button
      style="margin-top: 15px">
      Post as {{getAnonymityScopeNameFromChosenAnonymityScopeId()}} To {{getClassNameFromChosenClassId()}}
    </button>
  </div>

</div>
