.inline-elements{
  display: flex;
}

.inline-element-margin-left{
  margin-left: 0px;
}

.inline-element-margin-left-2{
  margin-left: 20px;
}

.inline-elements {
  display: block;
}
.ngx-editor {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .inline-elements {
    display: flex;
  }
  .inline-element-margin-left {
    margin-left: 50px;
  }
  .ngx-editor {
    width: 650px;
  }

}
 
  button {
  
   margin: auto;
  }
 
@media only screen and (max-width: 576px){
  .examle-form{
    width: 600px;
  }  
}