<!--<app-responsive-design></app-responsive-design>-->
<!--<app-reset-password></app-reset-password>-->
<!--<app-sign-in></app-sign-in>-->
<!--<app-main></app-main>-->
<!--<app-manage-classroom-students></app-manage-classroom-students>-->

<app-alt-main></app-alt-main>
