<div align="center">
  <mat-card id="sign-in-popup-card" >
    <div  class="row align-middle " id="maindiv">
      <div class="col-md-4 borders">
        <div class=" logo ">
          <img src="assets/logo/classtor_logo.png"  mat-card-image class="img-fluid" width="100%" height="100%" alt="classtor_logo">
        </div>
      </div>
      <div class="col-md-8 bg-white" [ngStyle]="{'padding': showLogo === true ? '10px 30px' : '30px 30px'}">
        <div id="sign-in-title" class="mat-display-1 pl-0 " style="color: rgb(0,91,150); text-shadow: 1px 0px 0px black;">
          <img class="text-center" *ngIf="showLogo === true" src="assets/logo/exceedlogo.jpg" mat-card-image wclass="img-fluid" alt="classtor_logo" style="width: 150px; margin: 10px auto">
          <div class="col-12 pr-0 pl-0"><img src="assets/logo/classtor_logo2.png" class="pr-1 pl-0" id="img2" width="50px" height="50px">Verify Passcode</div>
        </div>
        <form class="example-form" [formGroup]="loginForm">
          <mat-form-field class="match-parent-width">
            <input
              formControlName="email"
              matInput
              [(ngModel)]="email"
              placeholder="Email"
              required
              readonly
              name="email"
            >
            <!--        <mat-error *ngIf="email.invalid && email.errors.required">-->
            <!--          Enter a valid email address.-->
            <!--        </mat-error>-->
          </mat-form-field>
          <br>
          <mat-form-field class="match-parent-width">
            <input
              formControlName="passcode"
              matInput
              placeholder="Passcode"
              [(ngModel)]="passcode"
              type="text"
              required
              readonly
              name="passcode"
            >
            <!--        <mat-error *ngIf="email.invalid && email.errors.required">-->
            <!--          Enter a valid password.-->
            <!--        </mat-error>-->

          </mat-form-field>
          <br>
          <mat-form-field class="match-parent-width">
            <input
              formControlName="password"
              matInput
              placeholder="Password"
              value=""
              type="password"
              required
              name="password"
            >
            <!--        <mat-error *ngIf="email.invalid && email.errors.required">-->
            <!--          Enter a valid password.-->
            <!--        </mat-error>-->

          </mat-form-field>

          <!--          <span class=" cursor-pointer float-right text-primary forgot-pwd" (click)="toForgotPasswordScreen()" >Forgot password ? </span>-->

          <div class="text-center">
            <button  (click)="onVerifyPasscode()" mat-raised-button class="btn btn-block">Verify Passcode</button>
          </div>


          <!--<span class=" cursor-pointer float-right" (click)="toChangePasswordScreen()" >Change password </span>-->
          <br>






        </form>
        <!--        <span  (click)="toRegistrationScreen()" >Don't have an account?<span class=" cursor-pointer register text-primary" > Register</span></span>-->

      </div>
    </div>
  </mat-card>
</div>

<app-failure-modal [errorModalMessage]="errorModalMessage"
                   [errorModalHeading]="errorModalHeading"
                   [errorModalBtnText]="errorModalBtnText"
                   [errorModalImgStatus]="errorModalImgStatus"
                   (errorModalClose)="closeErrorModal()"
                   *ngIf="errorModalStatus"></app-failure-modal>

<!-- spinner start -->
<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-clip-rotate-pulse">
</ngx-spinner>
<!-- spinner end -->

