.display .example-card {
  max-width: 100%;
}

.display {
  display: block;
}

.example-header-image {
  background-image: url('~src/assets/logo/defaultprofile.png');
  background-size: cover;
}

.example-chip-list {
  width: 100%;
}
.mat-subheader {
  padding: 0px;
}
.inline-elements{
  display: flex;
}

.add-category {
  color: #005b96;
}

.allstudents-card {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .display .example-card {
    max-width: 400px;
  }
  .display {
    display: flex;
  }
  .allstudents-card {
    width: 600px;
    margin-left: 30px
  }
}

.display .example-card {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.tab-content {
  margin: 5px;
}
.mat-list-base .mat-subheader {
  font-size: 16px!important;
}
