

<div align="center">
  <mat-card id="sign-in-popup-card">

      <div  class="row" id="maindiv">

        <div class="col-md-4 borders">
          <div class="logo">
           <img src="assets/logo/classtor_logo.png" mat-card-image width="100%" height="100%" class="img-fluid" alt="classtor_logo">
          </div>
        </div>
        <div class="col-md-8 bg-white " [ngStyle]="{'padding': showLogo === true ? '10px 30px' : '30px 30px'}">
          <div id="sign-in-title" class="mat-display-1 pl-0" style="color: rgb(0,91,150);text-shadow: 1px 0px 0px black;">
            <img class="text-center" *ngIf="showLogo === true" src="assets/logo/exceedlogo.jpg" mat-card-image wclass="img-fluid" alt="classtor_logo" style="width: 150px; margin: 10px auto">
            <div class="col-12 pr-0 pl-0"><img src="assets/logo/classtor_logo2.png" class="pr-1 pl-0" id="img2" width="50px" height="50px">Register</div>
          </div>
          <form class="example-form" [formGroup]="registrationForm">
            <mat-form-field class="match-parent-width">
              <input
                matInput
                formControlName="username"
                placeholder="Username"
                required
                name="nameField"
              >
              <mat-error>
                <span *ngIf="registrationErrorStatus && registrationForm.get('username').errors?.required">
                Enter a username.
              </span>
                <span *ngIf="registrationErrorStatus && registrationForm.get('username').errors?.pattern">
                Enter a valid username.
              </span>
              </mat-error>
            </mat-form-field>
            <br> <mat-form-field class="match-parent-width">
              <input
                ngModel
                formControlName="email"
                matInput
                placeholder="Email"
                value=""
                required
                name="emailField"
              >
              <mat-error>
                <span *ngIf="registrationErrorStatus && registrationForm.get('email').errors?.required">
                Enter a Email.
              </span>
                <span *ngIf="registrationErrorStatus && registrationForm.get('email').errors?.pattern">
                Enter a valid Email.
              </span>
              </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="match-parent-width">
              <input
                ngModel
                formControlName="password"
                matInput
                placeholder="Password"
                value=""
                type="password"
                required
                name="passwordField"
              >
              <mat-error>
                <span *ngIf="registrationErrorStatus && registrationForm.get('password').errors?.required">
                Enter a password.
              </span>
                <span *ngIf="registrationErrorStatus && registrationForm.get('password').errors?.pattern">
                Enter a valid password.
              </span>
              </mat-error>
            </mat-form-field>
                  <div class="text-center">
                    <button  (click)="onRegistration()" mat-raised-button class="btn btn-block">Register</button>
                  </div>
              </form>
              <span>Already have an account?<span (click)="toLoginScreen()" class=" cursor-pointer register text-primary" > Login</span></span>
        </div>
      </div>





  </mat-card>

</div>
<!-- spinner start -->
<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-clip-rotate-pulse">
</ngx-spinner>
<!-- spinner end -->

<app-failure-modal [errorModalMessage]="errorModalMessage"
                   [errorModalHeading]="errorModalHeading"
                   [errorModalBtnText]="errorModalBtnText"
                   [errorModalImgStatus]="errorModalImgStatus"
                   (errorModalClose)="closeErrorModal()"
                   *ngIf="errorModalStatus"></app-failure-modal>

<!--<app-success-modal [successModalMessage]="successModalMessage"-->
<!--                   [successModalHeading]="successModalHeading"-->
<!--                   [successModalBtnText]="successModalBtnText"-->
<!--                   [successModalImgStatus]="successModalImgStatus"-->
<!--                   (successModalClose)="closeSuccessModal()"-->
<!--                   (onSuccessfulRegistration)="onSuccessfulRegister()"-->
<!--                   *ngIf="successModalStatus">-->
<!--</app-success-modal>-->
