<div fxHide.lt-sm>
<div class="inline-element-margin-left m-t-20">
  <mat-form-field style="width:100%;">
    <mat-label>Select Class to add instructor</mat-label>
    <mat-select class="awesome-select default-padding" (selectionChange)="onSelectionChangedGroup($event)">
      <mat-option *ngFor="let class of classList" [value]="class.group_id">{{class.group_name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p class="cls-font-color-error" *ngIf="errorMessageStatus === true">Select Class</p>
</div>

<div style="display: flex;">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Category</mat-card-title>
      <mat-card-subtitle>This Dashboard helps manage instructors.</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>

    <div class="p-t-10 d-flex cursor-pointer" (click)="addCategory()">
      <i class="add-category fas fa-plus-circle p-r-10 p-t-2 fs-18"></i>
      <p class="add-category m-b-0">Add Category</p>
    </div>

    <div class="p-t-5 d-flex" *ngIf="showCategoryFormStatus === true">
      <form class="" #categoryAdd='ngForm' style="width: 100%">

        <mat-form-field class="match-parent-width" style="width: 70%">
          <input ngModel #categoryname="ngModel" id="categoryname" matInput placeholder="Category Name" type="text" required name="categoryname" >
          <mat-error *ngIf="categoryname.invalid && categoryname.errors.required">
            Category Name is Required.
          </mat-error>
        </mat-form-field>

        <button mat-flat-button class="main-button m-t-20" style="margin-left: 5px; float: right; margin-top: 20px" (click)="submitAddCategory(categoryname)">Add</button>
      </form>
    </div>


    <div id="classes">

      <mat-list *ngFor="let categoryGroup of categoryGroups; let i = index">
        <div class="m-b-10" style="padding:0px;">
          <!--      <div class="d-flex">-->
          <span><h3 class="cursor-pointer" mat-subheader (click)="addSubCategory(i)">{{categoryGroup.categoryGroupName}} <i class="add-category fas fa-plus-circle p-r-5 p-t-2 fs-15 m-l-10"></i> <p class="add-category p-t-18 fs-14">Add Sub-Category</p></h3></span>
          <!--        <span class="add-category" ><i class="add-category fas fa-plus-circle p-r-5 p-t-2 fs-15"></i> SubCategory</span></span>-->
          <!--      </div>-->

          <div class="p-t-5 d-flex" *ngIf="position === i && showSubCategoryFormStatus === true">
            <form class="" #subCategoryAdd='ngForm' style="width: 100%">

              <mat-form-field class="match-parent-width" style="width: 70%">
                <input ngModel #subcategoryname="ngModel" id="subcategoryname" matInput placeholder="Sub-Category Name" type="text" required name="subcategoryname" >
                <mat-error *ngIf="subcategoryname.invalid && subcategoryname.errors.required">
                  Sub-Category Name is Required.
                </mat-error>
              </mat-form-field>

              <button mat-flat-button class="main-button m-t-20" style="margin-left: 5px; float: right; margin-top: 20px" (click)="submitAddSUbCategory(categoryGroup.categoryGroupID, subcategoryname)">Add</button>
            </form>
          </div>

          <mat-list-item *ngFor="let singleCategory of categoryGroup.category" (click)="selectCategory(singleCategory.categoryId)" matRipple style="margin-left: 10px;height: 30px; padding: 0px;">
            <h4 class="cursor-pointer" mat-line>{{singleCategory.categoryName}}</h4>

          </mat-list-item>
        </div>

        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-card>

  <mat-card style="width: 600px; margin-left: 30px">
    <div style="display: flex">
      <mat-card-header>
        <mat-card-title>Instructor</mat-card-title>
        <mat-card-subtitle><b>{{categoryName}}</b></mat-card-subtitle>
      </mat-card-header>

      <button
        (click)="selectAllInstructorsOfCurrentCategoryId()"
        mat-flat-button
        class="main-button"
        style="margin-left: 15px; height: 45px; float: right">
        Select All
      </button>
      <button
        (click)="unselectInstructorsOfCurrentGroupId()"
        autofocus
        mat-flat-button
        class="main-button"
        style="margin-left: 15px; height: 45px; float: right">
        Select None
      </button>
      <button
        (click)="updateSelectedInstructors()"
        autofocus
        mat-flat-button
        class="main-button"
        style="margin-left: 15px; height: 45px; float: right">
        Finalize
      </button>
    </div>
    <mat-divider></mat-divider>

    <div class="m-b-10" *ngIf="openAddStudentStatus === true && selectableInstructorList?.length > 0" style="margin-top: 5px">
      <div>
        <mat-list>
          <mat-list-item  matRipple style="height: 50px; display: flex;"
                          *ngFor="let student of selectableInstructorList; let i = index">
            <mat-checkbox class="m-t-10" id="checkbox + {{i}}" [(ngModel)]="student.active" (click)="selectUser(student.UserID, student.active)"></mat-checkbox>
            <img
              src="assets/logo/defaultprofile.png"
              style="
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin-left: 20px;">
            <p class="m-t-20" style="margin-left: 10px;">{{student.UserName}}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="openAddStudentStatus === true" [ngStyle]="{'margin-top': selectableInstructorList?.length > 0 ? '20px' : '20px'}">
      <div>
        <div class="mat-display-1 fs-15" style="margin-bottom: 10px;">Add Instructor </div>

        <form class="" #userAdd='ngForm'>

          <mat-form-field class="match-parent-width" style="width: 40%">
            <input ngModel #name="ngModel" id="username" matInput placeholder="Name" type="text" required name="userName" >
            <mat-error *ngIf="name.invalid && name.errors.required">
              Name is Required.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="match-parent-width" style="width: 40%; margin-left: 20px">
            <input ngModel #email="ngModel"  id="email" matInput placeholder="Email" type="email" required name="userEmail">
            <mat-error *ngIf="email.invalid && email.errors.required">
              Enter a valid Email.
            </mat-error>
          </mat-form-field>
        </form>

        <br>
        <button [disabled]='!userAdd.valid'  mat-raised-button class="main-button match-parent-width mat-display-3" (click)="addInstructor(name, email)">Add</button>
      </div>
    </div>

  </mat-card>

</div>
</div>

<!--for mobile-->

<mat-tab-group class="p-b-50" fxHide fxShow.lt-sm mat-align-tabs="center" [(selectedIndex)]="demo1TabIndex">
  <mat-tab  label="Category">
    <div class="inline-element-margin-left">
      <mat-form-field style="width:100%;">
        <mat-label>Select Class to add instructor</mat-label>
        <mat-select class="awesome-select default-padding" (selectionChange)="onSelectionChangedGroup($event)">
          <mat-option *ngFor="let class of classList" [value]="class.group_id">{{class.group_name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p class="cls-font-color-error" *ngIf="errorMessageStatus === true">Select Class</p>
    </div>

    <div class="display">
      <div class="dashboard tab-content">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Category</mat-card-title>
            <mat-card-subtitle>This Dashboard helps manage instructors.</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>

          <div class="p-t-10 d-flex cursor-pointer" (click)="addCategory()">
            <i class="add-category fas fa-plus-circle p-r-10 p-t-2 fs-18"></i>
            <p class="add-category m-b-0">Add Category</p>
          </div>

          <div class="p-t-5 d-flex" *ngIf="showCategoryFormStatus === true">
            <form class="" #categoryAdd='ngForm' style="width: 100%">

              <mat-form-field class="match-parent-width" style="width: 70%">
                <input ngModel #categoryname="ngModel" id="categoryname" matInput placeholder="Category Name" type="text" required name="categoryname" >
                <mat-error *ngIf="categoryname.invalid && categoryname.errors.required">
                  Category Name is Required.
                </mat-error>
              </mat-form-field>

              <button mat-flat-button class="main-button m-t-20" style="margin-left: 5px; float: right; margin-top: 20px" (click)="submitAddCategory(categoryname)">Add</button>
            </form>
          </div>


          <div id="classes">

            <mat-list *ngFor="let categoryGroup of categoryGroups; let i = index">
              <div class="m-b-10" style="padding:0px;">
                <span><h3 class="cursor-pointer"  mat-subheader (click)="addSubCategory(i)">{{categoryGroup.categoryGroupName}} <i class="add-category fas fa-plus-circle p-r-5 p-t-2 fs-15 m-l-10"></i> <p class="add-category p-t-18 fs-14">Add Sub-Category</p></h3></span>

                <div class="p-t-5 d-flex" *ngIf="position === i && showSubCategoryFormStatus === true">
                  <form class="" #subCategoryAdd='ngForm' style="width: 100%">

                    <mat-form-field class="match-parent-width" style="width: 70%">
                      <input ngModel #subcategoryname="ngModel" id="subcategoryname" matInput placeholder="Sub-Category Name" type="text" required name="subcategoryname" >
                      <mat-error *ngIf="subcategoryname.invalid && subcategoryname.errors.required">
                        Sub-Category Name is Required.
                      </mat-error>
                    </mat-form-field>

                    <button mat-flat-button class="main-button m-t-20" style="margin-left: 5px; float: right; margin-top: 20px" (click)="submitAddSUbCategory(categoryGroup.categoryGroupID, subcategoryname)">Add</button>
                  </form>
                </div>

                <mat-list-item *ngFor="let singleCategory of categoryGroup.category" (click)="selectCategory(singleCategory.categoryId)" matRipple style="margin-left: 10px;height: 30px; padding: 0px;">
                  <h4 mat-line>{{singleCategory.categoryName}}</h4>

                </mat-list-item>
              </div>

              <mat-divider></mat-divider>

            </mat-list>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Instructor">
    <div class="display tab-content">
      <div class="allstudents">
        <mat-card class="allstudents-card">
          <div>
            <div>
              <mat-card-header>
                <mat-card-title>Instructor</mat-card-title>
                <mat-card-subtitle><b>{{categoryName}}</b></mat-card-subtitle>
              </mat-card-header>
            </div>
            <div class="m-b-15" style="display: flex">
              <button
                (click)="selectAllInstructorsOfCurrentCategoryId()"
                mat-flat-button
                class="main-button"
                style=" height: 45px;">
                Select All
              </button>
              <button
                (click)="unselectInstructorsOfCurrentGroupId()"
                autofocus
                mat-flat-button
                class="main-button"
                style="margin-left: 15px; height: 45px;">
                Select None
              </button>
              <button
                (click)="updateSelectedInstructors()"
                autofocus
                mat-flat-button
                class="main-button"
                style="margin-left: 15px; height: 45px;">
                Finalize
              </button>
            </div>
          </div>
        </mat-card>

        <mat-divider></mat-divider>

        <div class="m-b-10" *ngIf="openAddStudentStatus === true && selectableInstructorList?.length > 0" style="margin-top: 5px">
          <div>
            <mat-list>
              <mat-list-item  matRipple style="height: 50px; display: flex;"
                              *ngFor="let student of selectableInstructorList; let i = index">
                <mat-checkbox class="m-t-10" id="checkbox + {{i}}" [(ngModel)]="student.active" (click)="selectUser(student.UserID, student.active)"></mat-checkbox>
                <img
                  src="assets/logo/defaultprofile.png"
                  style="
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin-left: 20px;">
                <p class="m-t-20" style="margin-left: 10px;">{{student.UserName}}</p>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <div *ngIf="openAddStudentStatus === true" [ngStyle]="{'margin-top': selectableInstructorList?.length > 0 ? '20px' : '20px'}">
          <div>
            <div class="mat-display-1 fs-15" style="margin-bottom: 10px;">Add Instructor </div>

            <form class="" #userAdd='ngForm'>

              <mat-form-field class="match-parent-width" style="width: 40%">
                <input ngModel #name="ngModel" id="username" matInput placeholder="Name" type="text" required name="userName" >
                <mat-error *ngIf="name.invalid && name.errors.required">
                  Name is Required.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="match-parent-width" style="width: 40%; margin-left: 20px">
                <input ngModel #email="ngModel"  id="email" matInput placeholder="Email" type="email" required name="userEmail">
                <mat-error *ngIf="email.invalid && email.errors.required">
                  Enter a valid Email.
                </mat-error>
              </mat-form-field>
            </form>

            <br>
            <button [disabled]='!userAdd.valid'  mat-raised-button class="main-button match-parent-width mat-display-3" (click)="addInstructor(name, email)">Add</button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>


<app-failure-modal [errorModalMessage]="errorModalMessage"
                   [errorModalHeading]="errorModalHeading"
                   [errorModalBtnText]="errorModalBtnText"
                   [errorModalImgStatus]="errorModalImgStatus"
                   (errorModalClose)="closeErrorModal()"
                   *ngIf="errorModalStatus"></app-failure-modal>
