<div *ngFor="let comment of comments">
  <mat-divider style="margin-top: -7px"></mat-divider>
  <app-discussion-element
    [author]="comment.message.sender_name"
    [comment]="comment.message.message.msg"
    [dateTimePosted]="comment.message['timezone']"
  ></app-discussion-element>
</div>
