<div align="center">
  <mat-card id="sign-in-popup-card">
      <div  class="row" id="maindiv">
        <div class="col-md-4 borders ">
          <div class=" logo">
           <img src="assets/logo/classtor_logo.png" class="img-fluid" mat-card-image width="100%" height="100%" alt="classtor_logo">
          </div>
        </div>
        <div class="col-md-8 bg-white " >
          <div id="sign-in-title" class="mat-display-1 pl-0" style="color: rgb(0,91,150);text-shadow: 1px 0px 0px black;">
            <div class="col-12 pr-0 pl-0"><img src="assets/logo/classtor_logo2.png" class="pr-1 pl-0" id="img2" width="50px" height="50px">Change Password</div>

          </div>
          <form class="example-form" #confirmPasswordform='ngForm'>
            <!--Current Password-->
            <mat-form-field class="match-parent-width">
              <input ngModel #changePassword="ngModel" matInput placeholder="Current Password" type="password" required name="currentPasswordField">
              <mat-error *ngIf="changePassword.invalid && changePassword.errors.required">
                Enter a valid password.
              </mat-error>
            </mat-form-field>
            <!--Current password end-->
            <br>
            <mat-form-field class="match-parent-width">
              <input ngModel #password="ngModel" matInput placeholder="New Password" type="password" required name="newPasswordField" >
              <mat-error *ngIf="password.invalid && password.errors.required">
                Enter a valid password.
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="match-parent-width">
              <input ngModel #password="ngModel" matInput placeholder="Retype new Password" type="password" required name="RetypePasswordField">
              <mat-error *ngIf="password.invalid && password.errors.required">
                Enter a valid password.
              </mat-error>
            </mat-form-field>
            <div class="text-center">
              <button  (click)="toLoginScreen(confirmPasswordform.value)" mat-raised-button class="btn btn-block">Submit</button>
            </div>
          </form>
        </div>
      </div>
  </mat-card>
</div>
