.answer-card {
  max-width: 600px;
  margin-top: 10px;
}

.example-header-image {
  background-image: url('~src/assets/logo/defaultprofile.png');
  background-size: cover;
}

.make-inline { float:left; }

.clearBoth { clear:both; }

.full-width {
  width: 100%;
}

/* Report Related CSS */

.report-button{
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
  float: right;
  margin-top: 11px;
  margin-right: 10px;
}

.pre-report-button {

}

.post-report-button {
  color: red;
}
button {
  outline: none;
}
.mat-card-actions {
  margin-bottom: 6px;
}
.mat-card-actions .mat-button {
  margin: 0px;
}

.mat-button {
  padding: 0 10px;
}
