<mat-card class="answer-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="m-t-5" style="margin-top: -5px">{{author}}</mat-card-title>
    <mat-card-subtitle>
      <app-shiny-text [value]=" trophyCount + ' Trophies'" [fontSize]="'15px'"></app-shiny-text>
    </mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    <div [innerHTML] = "answer">
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button  mat-icon-button fxHide fxShow.lt-sm (click)="toggleUpvote(answerData)">{{upvoteCount}}
      <i class="far fa-thumbs-up fs-16 p-l-5"></i>
    </button>
    <button class="p-l-10" mat-button fxHide.lt-sm (click)="toggleUpvote(answerData)">{{upvoteCount}} Upvotes
    </button>

    <button mat-icon-button fxHide fxShow.lt-sm style="margin-left: 20px" (click)="showAnswerDiscussions(answerData)">{{discussionCount}}
      <i class="far fa-comment-alt fs-16 p-l-5"></i>
    </button>
    <button mat-button fxHide.lt-sm (click)="showAnswerDiscussions(answerData)">{{discussionCount}} User Participation </button>

    <button  mat-icon-button fxHide fxShow.lt-sm  style="margin-left: 20px" (click)="toggleReply(answerData)">
      <i class="far fa-comment-dots fs-18 p-l-5"></i>
    </button>
    <button mat-button fxHide.lt-sm (click)="toggleReply(answerData)">{{replyValue}}</button>
    <span style="font-size: 10px; float: right; margin-top: 13px;">{{lastEdited}}</span>
    <span  (click)="reportToggle(answerData)" [className]="reported ? 'post-report-button report-button' : 'pre-report-button report-button'">
      {{reportPost}} Report Answer
    </span>
  </mat-card-actions>

<!--  <mat-divider></mat-divider>-->
  <div *ngIf="showDiscussions" style="margin-top: -8px">
    <div *ngIf="showCommentBox" style="margin-bottom: 50px;">
      <mat-form-field class="full-width m-t-10">
        <textarea [(ngModel)]="commentText" matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
      <button
        style="float: right"
        (click)="postAnswer(answerData)"
        mat-flat-button
        class="main-button">
        Post Comment
      </button>
      <div style="float: right; margin-top: -4px;">
        <div>
          <mat-form-field class="remove-underline">
            <mat-label>Show my name as</mat-label>
            <mat-select (selectionChange)="onSelectionChangedAnonymityLevel($event)" [(ngModel)]="defaultAnonymityScope" class="awesome-select default-padding">
              <mat-option *ngFor="let option of anonymityScope" [value]="option.id">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <app-discussion-feed></app-discussion-feed>
  </div>
</mat-card>

